@import url("animaciones.css");
@import url("burger.css");
@import url("mapa_menu.css");
@import url("registro_login.css");
@import url("bienvenido_suscriptor.css");
@import url("perfil.css");
@import url("seleccion_test_ingesa.css");
@import url("seleccion_oposicion_ceuta_melilla.css");
@import url("tarjeta_test.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --azul_principal: #3d36ca;
    --naranja_principal: #fe8525;
    --naranja_sombra_logo: #f55d04;
    --naranja_filo_brillo_logo: #fec564;
}

html, body {
    height: 100%;        
    overflow-y: scroll;
    scroll-snap-type: y mandatory;    
    overflow-x: hidden;
}

body {
    background-image: url('img/fondo_mosaico_blanco.png');
    background-repeat: repeat;
    background-size: 100px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

/*HEADER========================================================================================================*/
header {
    height: 10%;
    width: 100%;
    display: flex;
    background: linear-gradient(90deg, #3d36ca, #524bcc, #635ecc, #524bcc, #3d36ca);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;     
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(2, 2, 2, 0.5);       
}

/*Línea naranja header*/
header::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--naranja_principal);
    pointer-events: none;
}

.logo {
    height: 80%;        
    margin-left: 1%;       
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6));   
}

i {
    color: var(--naranja_principal);    
}

.login_menu {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-right-to-bracket {            
    position:absolute;
    top: 30%;
    right: 2.8em ;
    font-size: 1.4em;        
}

.fa-user {
    position: absolute;
    top: 30%;
    right: 1.8em ;
    font-size: 1.4em;
}

/*INDEX - COMÚN A TODAS LAS SECCIONES==========================================================================*/
.odd, .even {    
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;        
}

.snapping {
    scroll-snap-align: end;
    scroll-snap-stop: always;
}

/*INDEX - PRIMERA SECCIÓN=================================================================================*/
.llegada {    
    width: 100%;
    height: 100vh;    
    display: flex;    
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;    
    scroll-snap-align: end; /* o end, como prefieras */
    scroll-snap-stop: always;       
}

.superlogo {
    height: 55%;        
    margin: 0 auto;
    margin-top: 12%;       
    animation: rotacion_logo 1.2s ease-in-out 0s 1 normal none,
               vibra_logo 1s ease-in-out 1.5s 1 normal none,
               aura_logo 1s ease-in-out 2.5s 1 normal none;     
}

.abajo {    
    height: 48%;       
    margin-top: 26%;
    margin-right: 5%;    
    opacity: 0;
    transform: translateY(100vh);
    animation: subir_abajo 1s ease-out 2.5s forwards;    
}

/*INDEX - SEGUNDA SECCIÓN===========================================================================*/
.saludo {
    width: 35%;       
}

/*logos de organismos*/
.logos {
    height: 60%;    
    aspect-ratio: 1/1;
    border: 10px var(--azul_principal) ridge;    
    border-radius: 200%;
    background-color: white;
    position: relative;
    overflow: hidden;
}

/*Esto es para JavaScript, para el carrusel de logos*/
.logo-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoFade 1.5s linear forwards;
}

/*INDEX - TERCERA SECCIÓN====================================================================*/
.banderita {
    height: 65%;    
}

.menuvideo {
    width: 80%;    
    filter: drop-shadow(0 0 12px var(--naranja_filo_brillo_logo));
}

/*INDEX - CUARTA SECCIÓN==========================================================================*/
.podium {
    height: 72%;
    margin-top: 3em;
    margin-left: 15%;   
}

.medallas {
    height: 73%;
    width: 73%;
    margin-top: 10em;
    position: relative;
    overflow: hidden;
}

.medalla-img {
    width: 80%;
    height: 90%;
    object-fit: contain;
    position: absolute;
    top: 2%;
    left: 0.7%;
    transform: translate(-50%, -50%);
    animation: medallaFadeIn 5s linear forwards;
    pointer-events: none;
}

/*INDEX - QUINTA SECCIÓN=================================================================================*/
.videoai {
    width: 30%;    
    margin-left: 7%;  
    filter: drop-shadow(0 0 12px var(--naranja_filo_brillo_logo));
}

.informatico {
    height: 72%;
    margin-top: 3%;
       
}

/*INDEX - SEXTA SECCIÓN==============================================================================*/
.ultima {    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.parte_final {
    display: flex;
    justify-content: center;
    gap: 7%;    
    width: 100%;
    align-items: center;
    height: 92vh;
    margin-top: 1.5%;
}

.adios {
    height: 75%;
    margin-top: 5em;      
}

.star_register {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    overflow: visible;
    width: 19%;
    aspect-ratio: 1/1;    
    background-color: var(--azul_principal);
    animation: zoomLoop 4s ease-in-out infinite;    
}

.star_register:hover {
    background-color: var(--naranja_sombra_logo);
    animation: palpitacionesAzul 1.5s infinite;  
}

.reg:hover {
    color: white;
}

.star_register::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 3px solid var(--naranja_sombra_logo);
    border-radius: 50%;
    pointer-events: none;
}

.star_register:hover::after {
    border: 5px solid var(--azul_principal);  
}

.reg {
    color: var(--naranja_principal);  
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    animation: palpitaciones 2.5s ease-in-out infinite;
}

/*FOOTER=================================================================================*/
.foot {
    height: 5vh;
    width: 100%;
    background: linear-gradient(90deg, #3d36ca, #524bcc, #635ecc, #524bcc, #3d36ca);
    align-items: center;    
    display: flex;
    justify-content: space-between;    
    box-shadow: 0 -4px 6px rgba(2, 2, 2, 0.5);
    padding: 0.5%;        
}

.brands {
    display: flex;
    width: 8%;
    justify-content: space-between;
    align-items: center;    
    font-size: 1.8em;
    margin-left: 1em;            
}

.autor {
    margin-top: 0.4em;
}

.nombre {
    color: var(--naranja_principal);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    
    font-size: 18px; 
    margin-right: 1.5em;      
}

.fa-copyright {
    font-size: 1em;
}

/*PÁGINA FIN_TEST_INVITADO==============================================================*/
.reg_invitado {
    display: flex;
    flex-direction: column;
    height: 95vh;    
    align-items: center;    
}

.invitacion_al_registro {
    width: 80vw;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    margin-top: 9%;
    margin-bottom: 3.45%;    
}

.invitadoReg {
    height: 70vh;
}

/*PÁGINA MEDALLA====================================================================================*/
.toma_medalla {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;             
}

.entrega_de_premios {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.35%;
}

.medallita {
    height: 78vh;
    animation: rotacion_logo 1.5s ease-in-out 0s 1 normal none,
                vibra_logo 1s ease-in-out 1.5s 1 normal none,
                aura_logo 1s ease-in-out 2.5s 1 normal none;
    margin-top: 12%;              
}

.premio_gordo {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;    
}

.ventana_medalla {
    width: 60%;
    aspect-ratio: 1/1;
    background-color: white;  
}

.boton_medalla {
    height: 2.3em;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 -4px 6px rgba(2, 2, 2, 0.5);
    position: relative;
    margin: auto 7em;
    margin-top: 2em;    
}

.boton_medalla:hover {
    background-color: var(--naranja_sombra_logo);
    color: white;
}

/*PÁGINA FIN_TEST_SUSCRIPTOR=============================================*/
.final_test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url('img/fondo_mosaico_blanco.png');
    background-repeat: repeat;
    background-size: 100px;
}

.las_notas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    width: 80%;
    margin-top: 11.4%;
    margin-bottom: 6%;
}

.resultados {
    height: 67vh;    
}

.resultados_test {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color:var(--naranja_principal);
    width: 20%;
    height: 35%;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5em;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    border: 4px solid var(--naranja_principal);
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
    gap: 0.8em;
}

/*PÁGINA ADMIN=============================================*/
#logoBlue {
    width: 18%;
    margin-left: 0.7em;
}

.adminOrange {
    background: linear-gradient(90deg, #fe8525, #fd9f51, #fe8525 );
}

.adminBlue {
    color: var(--azul_principal);
    font-size: 1.2em;
}

.adminOrange::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--azul_principal);
    pointer-events: none;
}

.bodyAdmin {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
}

#sectionBlue {
    width: 100%;
    height: 95vh;    
    display: flex;              
}

.loginOrange {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.perfilOrange {
    margin-right: 1em;
}

.accesoOrange {
    margin-right: 1em;
}

.burgerOrange {
    top: 2.5em;
}

.aBlue {
    color: var(--azul_principal);
    width: 8%;
    font-size: 1.5em;
}

#orangeFooter {
    background: linear-gradient(90deg, #fe8525, #fd9f51, #fe8525 );
    
}

.backgroundBlue {
    background: var(--azul_principal);
}

.blueTest {
    background-color: var(--azul_principal);
    padding: 0.2em;
}

/*ajustes finales==================================*/
body.simple-layout {
  overflow-y: auto;
}

/* Oculta la barra de scroll vertical en navegadores basados en WebKit (Chrome, Edge, Safari) */
body.simple-layout::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Para Firefox */
body.simple-layout {
  scrollbar-width: none;
}


/*MEDIA QUERY====================================================================================================================*/

/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {
  /*PÁGINA INICIO================================================*/ 

  /*header*/  
  .logo {
    width: 28%;
  }

  /*Todas las secciones*/
  .odd, .even {
    flex-direction: column;
    align-items: center;
  }

  .odd {
    flex-direction: column-reverse;
  }
  
  /*Primera sección*/
  .llegada {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10em;
  }
  
  .superlogo {
    height: 25%;
    margin: 0 auto;
    margin-top: 10em;
  }

  .abajo {
    height: 33%;
    margin:0 auto;    
  }  

  /*Segunda sección*/
  .saludo {
    width: 95%;
    margin: 0 auto;
  }

  .logos {
    height: 36%;
    margin-top: 6em;
  }

  /*Tercera sección*/
  .menuvideo {
    margin: 0 auto;
    margin-left: 0.8em;
    margin-top: 7em;
    width: 95%;
  }

  .banderita {
    height: 50%;
    margin: 0 auto;
  }

  /*Cuarta sección*/
  .medallas {
    margin-top: 6em;
    margin-left: 6em;
    width: 100%;
  }

  .podium {
    height: 100%;
    margin: 0 auto;
  }

  /*Quinta sección*/
  .videoai {        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 6em;    
  }

  video {
    width: 23em;
  }

  .informatico {
    height: 48%;
    margin-left: 6em;    
  }

    /*Sexta sección*/
  .parte_final {
    flex-direction: column;
    gap: 0%;
    margin-bottom: 4.3%;
  }

  .adios {
    height: 56%;    
  }

  .star_register {
    width: 58%;
    margin-top: 3em;
  }

  .reg {
    font-size: 1.5em;
  } 

  /*Footer*/
  .brands {
    margin-left: 0.2em;    
  }
  
  .brands a {
    font-size: 20px;
    padding: 4px;
  }  

  .fa-copyright {
    font-size: 13px;
  }
  
  /*PÁGINA FIN_TEST_INVITADO=============================================*/
  .invitacion_al_registro {
    flex-direction: column;
    gap: 0%;
    margin-top: 25%;
    height: 100%;    
  }

  .invitadoReg {
    height: 55vh;        
  }
  
  .reg_invitado {
    flex: 1;
    height: auto;
  }

  /*PÁGINA FIN_TEST_SUSCRIPTOR===================================================*/
  .final_test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 1.9em;
    flex: 1;
    height: auto;
  }

  .las_notas {
    flex-direction: column;
    gap: 5vh;    
  }

  .resultados {
    height: 50vh;    
  }

  .resultados_test {
    width: 90%;
    height: 18vh;
    font-size: 1.4em;
  }

  /*PÁGINA MEDALLA========================================================================*/
  main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
  
  .toma_medalla {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: auto;       
  }

  .entrega_de_premios {
    flex-direction: column;    
    height: auto;
    margin-top: 15%;        
  }

  .medallita {
    height: 45vh;
    margin-bottom: 18%;            
  }

  .premio_gordo {
    height: 25vh
  } 

  .ventana_medalla {
    width: 300px;    
  }

  .boton_medalla {
    width: 40%;
    height: 3em;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 5em;        
  }

  /*PÁGINA ADMIN===================================================*/
  #logoBlue {
    width: 25%;
  }

  .burgerOrange {
    top: 25%;
  }

  .aBlue {
    font-size: 25px;
  }

}

/*Tablets pequeñas (481px a 767px)*/
@media screen  and (min-width: 481px) and (max-width: 767px) {
    /*HEADER=======================================================*/
    .logo {
        width: 20%;
    }

    /*PÁGINA INICIO================================================*/
    .llegada {
        flex-direction: column;    
        align-items: center;
    }
    
    .superlogo {
        height: 30%;
        margin-top: 10em;
    }

    .abajo {
        height: 30%;    
        margin-left: 50%;
        margin-top: 50%;    
    }

    .odd, .even {
        flex-direction: column;
        align-items: center;
        height: auto;
        flex: 1;
        gap: 1em;
    }

    .odd {
        flex-direction: column-reverse;
    }

    .logos {
        height: 33vh;
        margin-top: 6em;
    }

    .saludo {
        width: 70%;
        margin: 0 auto;
    }

    .menuvideo {
        margin: 0 auto;
        margin-left: 0.8em;
        margin-top: 7em;
        width: 95%;
    }

    .banderita {
        height: 50vh;
        margin: 0 auto;
    }

    .medallas {
        margin-top: 6.5em;
        margin-left: 7.5em;
        width: 66vw;
        aspect-ratio: 1/1;
    }

    .podium {
        height: 50vh;
        margin: 0 auto;
    }

    .videoai {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 6.5em;    
    }

    video {
        width: 30em;
    }

    .informatico {
        height: 50vh;
        margin-left: 6em;    
    }

    .parte_final {
        flex-direction: column;
    }

    .adios {
        height: 50%;
        margin: 0 auto;
    }

    .star_register {
        width: 40%;
        margin-top: 0em;
    }

    /*FOOTER=======================================================*/
    .brands {
        width: 30%;
        padding: 0.5em;
    }

    /*PÁGINA FIN_TEST_INVITADO=============================================*/
    .invitadoReg {
        height: 48vh;        
    }
    
    .invitacion_al_registro {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20%;
    }

    .star_register {
        width: 43vw;
    }
    
    .reg {
        font-size: 2em;
    }
    
    /*PÁGINA FIN_TEST_SUSCRIPTOR===================================================*/
    .final_test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    gap: 1.9em;
    }

    .resultados {
    height: 50%;
    margin-left: 1.8em;
    margin-top: 5em;
    }

    .resultados_test {
    width: 60%;
    height: 20%;
    font-size: 1.7em;
    }

    .las_notas {
        flex-direction: column;
        gap: 2.5em;
    }

    /*PÁGINA MEDALLA========================================================================*/
    .toma_medalla {
        flex-direction: column;        
    }

    .medallita {
        height: 45vh;
        margin-top: 15em;        
    }  

    .premio_gordo {
        height: 50vh;
        aspect-ratio: 1/1;
        margin-top: 0%;    
    }

    .ventana_medalla {
        height: 50%;
        aspect-ratio: 1/1;
    }

    .boton_medalla {
        width: 25%;
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 1em;            
    }

    .entrega_de_premios {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*PÁGINA ADMIN===========================================*/
    .enlaces_prueba a {
        font-size: 0.9em;
        display: none;
    }

    .aBlue {
        padding: 0;
    }

    .adminBlue {
        font-size: 1.1em;
    }       

    body.simple-layout,
    body.snap-end-fix {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main,
    main.perfil_main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    footer.foot {
        margin-top: auto;
        scroll-snap-align: end;
        scroll-snap-stop: always;
    }

    body.snap-end-fix .snap-filler {
        height: 1px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

}

/*Tablets grandes y laptops (768px a 1199px)*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    /*HEADER==================================*/
    header {
        height: 10vh;
    }
    .logo {
        width: 13%;
    }    

    /*FOOTER===================================================*/
    .brands {
        padding: 0.5em;
        width: 15%;
    }

    /*PÁGINA INICIO================================================*/    
    header {
        height: 13vh;
    }
    
    .llegada {
        display: flex;
        flex-direction: row;    
        align-items: center;    
    }
    
    .superlogo {
        margin-left: 12%;
        height: 22em;
        margin-top: 4%;
    }

    .abajo {
        height: 40%;        
        margin-top: 40%;        
    }

    .odd, .even {
        display: flex;
        flex-direction: row;
    }

    .saludo {
        width: 42%;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 8%;
        margin-left: 5%;
    }

    .logos {
        height: 50%;
        margin-top: 6em;
        margin-right: 13%;
    }

    .menuvideo {
        margin: 0 auto;
        margin-left: 2em;
        margin-top: 5em;
        width: 90%;
    }

    .banderita {
        height: 70%;
        margin-right: 3em;
    }

    .podium {
        height: 80%;
        margin-top: 0;
        margin-left: 10em;
    }

    .videoai {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
        margin-top: 4em;           
    }

    video {
        width: 28em;        
        margin-right: -30%;
    }

    .informatico {
        height: 70%;
        margin-left: -10%;
        margin-right: -15%;    
    }

    .adios {
        height: 86%;
        margin-left: 10em;
        margin-bottom: -18%;
        margin-top: -10%;
    }

    .star_register {
        width: 25%;
        margin-top: 7em;
        margin-right: 7em;
    } 

    /*PÁGINA FIN_TEST_INVITADO=============================================*/
    .reg_invitado {
        flex-direction: column-reverse;
    }

    .invitado {
        height: 40em;
    }

    .star_register {
        width: 36%;
    }
    
    /*PÁGINA FIN_TEST_SUSCRIPTOR=================================================================*/
    .final_test {
        display: flex;  
        justify-content: center;
        align-items: center;
        height: 95vh;
        gap: 1.9em;
    }

    .resultados {
        height: 70%;
        margin-left: 1.8em;
        margin-top: 3em;
    }

    .resultados_test {
        width: 35%;
        height: 33%;
        font-size: 1.7em;
    }

    /*PÁGINA MEDALLA========================================================================*/
    .toma_medalla {
        flex-direction: column;        
    }

    .medallita {
        height: 75vh;
        margin-top: 5em;        
    }

    .premio_gordo {
        height: 30vh;
        width: 80%;        
    }

    .boton_medalla {
        font-size: 1.3em;
    }

/*PÁGINA ADMIN===================================================*/
    #logoBlue {
        width: 15%;
    }

    main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    #sectionBlue {               
        height: 95vh;  
    }

    footer.foot {
        height: 5vh;
    }

    body.simple-layout,
    body.snap-end-fix {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main,
    main.perfil_main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    footer.foot,
    footer.footPerfil {
        margin-top: auto;
        scroll-snap-align: end;
        scroll-snap-stop: always;
    }

    body.snap-end-fix .snap-filler {
        height: 1px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}

/*Laptops grandes y escritorios (de 1200px a 1999px)==================================================*/
@media screen and (min-width: 1200px) and (max-width: 1999px) {
    /* Ajustes específicos para portátiles modernos (el mío) */
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow-y: auto;
    }
    
    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        box-sizing: border-box;
    }

    body.simple-layout main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    body.simple-layout section {
        flex: 1 0 auto;
        height: auto;
    }

    body.simple-layout footer.foot {
        flex-shrink: 0;
        scroll-snap-align: end;
        scroll-snap-stop: always;
    }    

    /*HEADER==================================*/
    .logo {
        height: 7vh;
        margin-left: 0.6em;
        
    }
    
    /*INDEX - PRIMERA SECCIÓN========================================*/    
    .abajo {
        margin-top: 27%;        
    }

    /*INDEX - SEGUNDA SECCIÓN============================================*/
    

    /*INDEX - TERCERA SECCIÓN==========================================*/
    .banderita {
        height: 73%;
        margin-right: 15%;
    } 

    .menuvideo {
        margin-left: 25%;
    }    

    /*INDEX - CUARTA SECCIÓN==========================================*/
    .podium {
        height: 82%;
    }

    /*INDEX - QUINTA SECCIÓN===================================================*/
    .informatico {
        height: 75%;
        margin-left: 30%;
    }

    .videoai {
        width: 5%;
        margin-left: 13%;
    }

    /*INDEX - SEXTA SECCIÓN*/
    .adios {
        height: 90%;
    }

    .parte_final {
        margin-top: 0.3%;
    }

    section.ultima {
    flex: 1;
    height: auto;
    }

    /*FOOTER======================================================*/
    .brands {
        gap: 0.1em;
        width: 10%;
    }

    .fa-copyright {
        font-size: 1em;
    }

    footer .foot {
        scroll-snap-align: end;
        scroll-snap-stop: always;
        flex-shrink: 0;
    }

    /*PÁGINA FIN_TEST_INVITADO=============================================*/
    .invitacion_al_registro {
        margin-top: 7%;
        margin-bottom: -1.2%;
    }
    
    .invitadoReg {
        height: 80vh;        
    }

    .star_register {
        width: 23%;
    }

    /*PÁGINA FIN_TEST_SUSCRIPTOR=============================================*/
    .las_notas {
        margin-top: 2%;
        margin-bottom: -2.4%;
    }
    
    .resultados {
        height: 75vh;
        margin-top: 4em;
    }
    
    .resultados_test {
        width: 25%;
        height: 55%;
        font-size: 1.5em;
        padding: 0.5em;
    }

    /*PÁGINA MEDALLA=============================================*/
    .entrega_de_premios {
        margin-top: 0.15%;
    }

    .boton_medalla {
        font-size: 1.4em;
    }
    /*PÁGINA ADMIN=============================================*/
    #logoBlue {
        width: 11%;
    }

    .sectionBlue {
        height: 95vh;
    }

    .burgerOrange {
        top: 1.6em;
    }

    .aBlue {
        width: 10%;
        font-size: 1.3em;
    }

    body.snap-end-fix .snap-filler {
    height: 1px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .adminBlue {
    font-size: 1em;
  }

    

}