/*PÁGINA PERFIL=====================================================================*/
.persona {
    height: 95vh;
    width: 100%;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: var(--naranja_principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: end;
    scroll-snap-stop: always;          
}

.datos, .estadisticas {
    position: relative;
}

.h1Perfil {
    color: var(--naranja_principal);
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 30%;
    right: 9%;
    font-size: 1.8em;    
}

.stats {
    bottom: 38%;
    left: 0.8%;
}

.cuadro {  
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
    width: 28vw;
    height: 33.2vh;    
    padding-right: 1.5em;
    border: 4px solid var(--naranja_principal);
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.cuadro p {
    padding: 1em;
}

.identificacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    width: 95vw;
    height: 98vh;
    position: absolute;  
}

.carnets_oposito {   
    height: 33.2vh;
    width: 24.9vw;    
    border: 10px var(--naranja_principal) ridge;
    background: 
    linear-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.carnet-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: carnetFade 1.5s linear forwards;
}

.cifras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    border-top: 15px solid var(--naranja_principal);
    gap: 8%;
}

.identificacion,
.cifras {     
    background: linear-gradient(
    rgb(61, 54, 202, 0.5),
    rgb(61, 54, 202, 0.5)
    );        
    border-bottom: 15px solid var(--naranja_principal);                            
}

.consulta_estadisticas {
    height: 45vh;
    border-radius: 100%;
    animation: pantallaGlow 2s ease-in-out infinite;
    margin-right: 15%;
}


.tituloMedal {
    color: var(--naranja_principal);
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 32%;
    right: -2%;
    font-size: 1.8em;    
}

.medallero {
    width: 95vw;
    margin-left: 2.5vw;
    min-height: 100vh;
    gap: 1%;
    background: linear-gradient(
    rgb(61, 54, 202, 0.5),
    rgb(61, 54, 202, 0.5)
    );
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;    
    box-shadow: 0 4px 6px rgba(2, 2, 2, 0.5);        
}

.cuadro_medallas {    
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    width: 38vw;
    height: auto;
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
    border: 4px solid var(--naranja_principal);
    display: grid;    
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr; /* Las filas crecen igual que las columnas */
    aspect-ratio: auto;
    margin: 0 auto;    
    padding: 15px;
    gap: 1%;     
}

.una_medalla {
  aspect-ratio: 1 / 1;  /* cada celda será cuadrada */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;  
}

/*Evita el desbordamiento de los párrafos*/
.cuadro {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

/*MEDIA QUERY=================================================================================*/
/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {
    /*Primera sección*/
  .h1Perfil {
    font-size: 1.2em;
    bottom: -3%;
    right: 2%;    
  }

  .persona {
    min-height: 100vh;
  }
  
  .datos {
    justify-content: center;
    align-items: center;
  }
  
  .identificacion, .cifras {
    flex-direction: column;
  }

  .identificacion {
    gap: 5em;
  } 

  .cuadro {
    width: 85%;
    height: 22%;
  }

  .cuadro p {
    font-size: 0.8em;
  }
  
  .carnets_oposito {
    height: 24.2vh;
    width: 85%;    
  }

  .carnets_oposito img {
    width: 100%;
    height: auto;
  }
  /*Segunda sección*/
  .stats {
    bottom: 1%;
  }

  .consulta_estadisticas {
    height: 30vh;
    margin-left: 15%;
  } 
  
  .cuadroDos {
    height: 24vh;
  }
  .cuadroDos p {
    font-size: 0.8em;
  }

  /*Tercera sección*/
  .medallero {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    overflow-y: visible;    
  }

  .tituloMedal {
    font-size: 1.2em;
    bottom: 50%;
  }

  .cuadro_medallas {
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);        
  }

  .cuadro p {
    padding: 0.7em;
  }

}

/*Tablets pequeñas (481px a 767px)*/
@media screen  and (min-width: 481px) and (max-width: 767px) {
    .h1Perfil {
    font-size: 1.2em;
    bottom: -2%;
    right: 2%;    
  }

  .persona {
    min-height: 100vh;
  }
  
  .datos {
    justify-content: center;
    align-items: center;
  }
  
  .identificacion, .cifras {
    flex-direction: column;
  }

  .identificacion {
    gap: 5em;
  } 

  .cuadro {
    width: 75%;
    height: 22%;
  }

  .cuadro p {
    font-size: 0.8em;
  }
  
  .carnets_oposito {
    height: 30%;
    width: 75%;    
  }

  .carnets_oposito img {
    width: 100%;
    height: auto;
  }
  /*Segunda sección*/
  .stats {
    bottom: 1%;
  }

  .consulta_estadisticas {
    height: 30vh;
    margin-left: 15%;
  } 
  
  .cuadroDos {
    height: 19vh;
    width: 60%;
  }
  .cuadroDos p {
    font-size: 0.8em;
  }

  /*Tercera sección*/
  .medallero {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    overflow-y: visible;    
  }

  .tituloMedal {
    font-size: 1.2em;    
  }

  .cuadro_medallas {
    width: 78vw;
    grid-template-columns: repeat(4, 1fr);                
  }

  .cuadro p {
    padding: 0.7em;
  }
  
  .una_medalla {
    width: 78%;        
  }

}

/*Tablets grandes y laptops (768px a 1199px)*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .h1Perfil {
        font-size: 1.4em;
        margin-top: 10%; /* ajusta según el alto real del header */
        height: 3vh;   
    }
  
    .datos {
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 0;        
    } 

    .estadisticas {
        height: 100vh;
    }
    
    .persona {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        width: 100vw;
    }

    
    .identificacion {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        gap: 5%;        
    }    

    .cuadro p {
        padding: 0.4em;
        padding-left: 0.6em;
    }

    .carnets_oposito {
        height: 31vh;
        width: 33.7vw;    
    }

    .carnets_oposito img {
        width: 100%;
        height: auto;
    }

    .cifras {
        width: 100%;
        height: 100vh;
    }

    .consulta_estadisticas {
        height: 45vh;
        margin-bottom: 45px;
        margin-top: 30px;
    }    

    .medallero {
        justify-content: center;
    }

    .medallero h1 {
        margin-top: 10%;
        margin-bottom: 25px;
        font-size: 1.4em;
    }

    .cuadro_medallas {
        width: 70%;
                
    }

    .una_medalla {
        width: 75%;
    }

}

/*Laptops grandes y escritorios (de 1200px a 1999px)=====================================*/
/* Ajustes específicos para portátiles modernos (el mío) */
@media screen and (min-width: 1200px) and (max-width: 1999px) {
    
    .h1Perfil {
        font-size: 1.3em;
        right: 4%;
        bottom: 32%;
    }    

    .cuadro {
        height: 35vh;
    }

    .carnets_oposito {
        height: 35vh;
        width: 28vw;
        
    }

    .cuadro p {
        font-size: 0.8em;                
    } 
    
    .stats {
        bottom: 40%;
        left: -2%;
    }

    .cifras {
        width: 95vw;
        height: 95vh;
    }

    .cuadroDos {
        width: 30vw;
    } 
    
    .consulta_estadisticas {
        margin-right: 5%;
    }

    .tituloMedal {
        font-size: 1.3em;
        bottom: 40vh;
    }

    .medallero {
        justify-content: flex-start;
        padding-top: 2em;
        min-height: 95vh;  /* ocupa al menos una pantalla */
        height: auto;      /* pero puede crecer todo lo que quiera */
        overflow-y: visible;
    }

    .cuadro_medallas {
        margin-bottom: 14%;
    }    

       

    
    

}