/*PÁGINA PERFIL=====================================================================*/
.perfil_main {      
    background-image: url('img/fondo_mosaico_blanco.png');
    background-repeat: repeat;
    background-size: 100px;
    display: flex;
    flex-direction: column;        
}

.persona {
    height: 95vh;
    width: 100%;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: var(--naranja_principal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: end;
    scroll-snap-stop: always;  
}

.medallero {
    min-height: 95vh;
    overflow-y: auto;    
}

.cuadro {  
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
}

.cuadro h3 {
    padding: 1em;
    text-align: center;  
}

.cuadro p {
    padding: 1em;
}

.palabras {
    width: 28vw;
    height: 42vh;  
    padding-left: 1em;
    padding-right: 1.5em;
    border: 4px solid var(--naranja_principal);
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.identificacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
    width: 75vw;  
}

.carnets_oposito {   
    height: 33.2vh;
    width: 24.9vw;    
    border: 10px var(--naranja_principal) ridge;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.carnet-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: carnetFade 1.5s linear forwards;
}

.cifras {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
}

.consulta_estadisticas {
    height: 46.5vh;
    border-radius: 100%;
    animation: pantallaGlow 2s ease-in-out infinite;
}

.cuadro_medallas {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    width: 38vw;
    height: auto;
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
    border: 4px solid var(--naranja_principal);
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4, 1fr); /* EXACTAMENTE 4 columnas */
    grid-auto-rows: 1fr; /* Las filas crecen igual que las columnas */
    aspect-ratio: auto;
    margin: 0 auto;
    margin-bottom: 14%;
    padding: 15px;     
}

.una_medalla {
  aspect-ratio: 1 / 1;  /* cada celda será cuadrada */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;  
}

.perfil_main h1 {
    color: var(--naranja_principal);
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    margin-top: 7.4%;
}

.linksPerfil, .iconsPerfil {
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    text-decoration: none;    
}

.iconsPerfil {
    margin-left: -1.8em;    
}

.noLine {
    text-decoration: none;
}

.autorPerfil {    
    display: flex;
    justify-content: center;
    align-items: center;    
}

.fa-copyright {
    font-size: 0.5em;
}

.footPerfil {
    scroll-snap-align: start;   /* Lo alinea como destino de scroll */
    scroll-snap-stop: always;    
}

.cuadro.palabras {
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

/*MEDIA QUERY=================================================================================*/

/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {
    /*Primera sección*/
    h1 {
    font-size: 1.3em;
    margin-bottom: 40px;
    margin-top: 10%;
  }
  
  .datos {
    justify-content: center;
    align-items: center;
  }
  
  .identificacion, .cifras {
    flex-direction: column;
  }

  .identificacion {
    gap: 0.5em;
  }

  .palabras {
    width: 90vw;
    font-size: 0.7em;
    height: 33vh;
    margin-bottom: 60px;
    padding-left: 0.1em;
  }

  .cuadro h3 {
    padding: 0.5em;
  }

  .carnets_oposito {
    height: 26.9vh;
    width: 90vw;    
  }

  .carnets_oposito img {
    width: 100%;
    height: auto;
  }
  /*Segunda sección*/
  .consulta_estadisticas {
    height: 25vh;
    margin-bottom: 45px;
    margin-top: 30px;
  } 
  
  .dos {
    height: 44vh;
  }

  /*Tercera sección*/
  .medallero {
    justify-content: center;
    min-height: auto;
    height: auto;
    overflow-y: visible;
  }

  .medallero h1 {
    margin-top: 0px;
  }

  .cuadro_medallas {
    width: 90vw;    
  }

  .footPerfil {
    scroll-snap-align: end;
    scroll-snap-stop: always;
  }

  .cuadro p {
    padding: 0.7em;
  }

  .iconsPerfiltodos {
    padding: 0.8em;
    margin-left: 10px;
  }

  .iconsPerfil {
    font-size: 1em;
    padding: 1em;
  }

}

/*Tablets pequeñas (481px a 767px)*/
@media screen  and (min-width: 481px) and (max-width: 767px) {
    .persona h1 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-top: 3em;
    }
  
    .datos {
        justify-content: center;
        align-items: center;                
    }

    .carnets_oposito {
        margin-top: 0;
    }
    
    .identificacion, .cifras {
        flex-direction: column;
    }

    .palabras {
        width: 90vw;
        font-size: 0.8em;
        height: 35vh;        
        padding-left: 0.1em;
        padding: -1em;
        margin-bottom: -15vh;
    }    

    .carnets_oposito {
        height: 36.7vh;
        width: 90vw;    
    }

    .carnets_oposito img {
        width: 100%;
        height: auto;
    }

    .consulta_estadisticas {
        height: 15vh;
        margin-bottom: 45px;
        margin-top: -4em;
    }  

    .medallero {
        justify-content: center;        
    }

    .medallero h1 {
        margin-top: 0px;
    }

    .cuadro_medallas {
        width: 90vw;        
    }

}


/*Tablets grandes y laptops (768px a 1199px)*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    h1 {
        font-size: 1.5em;
        margin-bottom: 100px;    
    }
  
    .datos {
        justify-content: center;
        align-items: center;        
    } 

    .persona {
        width: 100vw;
    }
    
    .identificacion {
        justify-content: space-around;
        width: 100%;
    }

    .palabras {
        width: 47vw;
        font-size: 0.8em;
        height: 43vh;                
    }

    .cuadro p {
        padding: 0.4em;
    }

    .carnets_oposito {
        height: 43vh;
        width: 43.7vw;    
    }

    .carnets_oposito img {
        width: 100%;
        height: auto;
    }

    .cifras {
        width: 100%;
    }

    .consulta_estadisticas {
        height: 45vh;
        margin-bottom: 45px;
        margin-top: 30px;
    }  

    .medallero {
        justify-content: center;
    }

    .medallero h1 {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .cuadro_medallas {
        width: 84vw;        
    }

}


/*Laptops grandes y escritorios (de 1200px a 1999px)=====================================*/
/* Ajustes específicos para portátiles modernos (el mío) */
@media screen and (min-width: 1200px) and (max-width: 1999px) {
    
    .datos h1 {
        margin-top: 2em;

    }
    
    .carnets_oposito {
        height: 36.5vh;
        width: 64vw;
    }
    
    .palabras {
        width: 60vw;
        height: 33vh;
        font-size: 0.8em;              
    }

    .dos {
        width: 32vw;
    }

    .cuadro {
        margin-right: 5em;
    }

    .cuadro p {
        padding: 0.5em;                
    }
    
    .cuadro h3 {
        padding: 0.5em;
    }

    .carnet-img {
        width: 100%;
        height: 100%;
        object-fit: contain;        
    }

    .cifras {
        gap: 3em;
        width: 87vw;
        height: 95vh;
    }

    .consulta_estadisticas {
        margin-left: 4em;
    }

    .medallero {
    justify-content: flex-start;
    padding-top: 2em;
    height: 90vh;
  }

  .medallero h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
  }

  .cuadro_medallas {
    margin-top: 0;
    margin-bottom: 13.6%;
  }

  .identificacion {
    height: 95vh;
  }

  .estadisticas {
    height: 95vh;
  }

  .iconsPerfil {
    font-size: 1em;
  }

  .iconsPerfiltodos {
    margin-left: 2em;
    padding: 0.38em;
  }

}