/*PÁGINA PERFIL=====================================================================*/
.persona {
    height: 95vh;
    width: 100%;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: var(--naranja_principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: end;
    scroll-snap-stop: always;          
}

.datos, .estadisticas {
    position: relative;
}

.h1Perfil {
    color: var(--naranja_principal);
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 30%;
    right: 9%;
    font-size: 1.8em;    
}

.stats {
    bottom: 38%;
    left: 0.8%;
}

.cuadro {  
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
    width: 28vw;
    height: 33.2vh;    
    padding-right: 1.5em;
    border: 4px solid var(--naranja_principal);
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.cuadro p {
    padding: 1em;
}

.identificacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    width: 95vw;
    height: 98vh;
    position: absolute;  
}

.carnets_oposito {   
    height: 33.2vh;
    width: 24.9vw;    
    border: 10px var(--naranja_principal) ridge;
    background: 
    linear-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.carnet-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: carnetFade 1.5s linear forwards;
}

.cifras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    border-top: 15px solid var(--naranja_principal);
    gap: 8%;
}

.identificacion,
.cifras {     
    background: linear-gradient(
    rgb(61, 54, 202, 0.6),
    rgb(61, 54, 202, 0.6)
    );        
    border-bottom: 15px solid var(--naranja_principal);                            
}

.consulta_estadisticas {
    height: 45vh;
    border-radius: 100%;
    animation: pantallaGlow 2s ease-in-out infinite;
}

.cuadroDos {
    margin-right: 15%;
}

.tituloMedal {
    color: var(--naranja_principal);
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 32%;
    right: -2%;
    font-size: 1.8em;    
}

.medallero {
    width: 95vw;
    margin-left: 2.5vw;
    min-height: 100vh;
    gap: 1%;
    background: linear-gradient(
    rgb(61, 54, 202, 0.6),
    rgb(61, 54, 202, 0.6)
    );
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(2, 2, 2, 0.5);        
}

.cuadro_medallas {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    width: 38vw;
    height: auto;
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    border-radius: 1em;
    border: 4px solid var(--naranja_principal);
    display: grid;    
    grid-template-columns: repeat(6, 1fr); /* EXACTAMENTE 4 columnas */
    grid-auto-rows: 1fr; /* Las filas crecen igual que las columnas */
    aspect-ratio: auto;
    margin: 0 auto;
    margin-bottom: 14%;
    padding: 15px;
    gap: 1%;     
}

.una_medalla {
  aspect-ratio: 1 / 1;  /* cada celda será cuadrada */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;  
}

/*Evita el desbordamiento de los párrafos*/
.cuadro {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

/*MEDIA QUERY=================================================================================*/

/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {
    /*Primera sección*/
    .h1Perfil {
    font-size: 1.3em;
    margin-bottom: 40px;
    margin-top: 10%;
  }
  
  .datos {
    justify-content: center;
    align-items: center;
  }
  
  .identificacion, .cifras {
    flex-direction: column;
  }

  .identificacion {
    gap: 0.5em;
  }

  .cuadro h3 {
    padding: 0.5em;
  }

  .carnets_oposito {
    height: 26.9vh;
    width: 90vw;    
  }

  .carnets_oposito img {
    width: 100%;
    height: auto;
  }
  /*Segunda sección*/
  .consulta_estadisticas {
    height: 25vh;
    margin-bottom: 45px;
    margin-top: 30px;
  } 
  
  .cuadroDos {
    height: 44vh;
  }

  /*Tercera sección*/
  .medallero {
    justify-content: center;
    min-height: auto;
    height: auto;
    overflow-y: visible;
  }

  .medallero h1 {
    margin-top: 0px;
  }

  .cuadro_medallas {
    width: 90vw;    
  }

  .cuadro p {
    padding: 0.7em;
  }

}

/*Tablets pequeñas (481px a 767px)*/
@media screen  and (min-width: 481px) and (max-width: 767px) {
    .h1Perfil {
        font-size: 1.3em;
        margin-bottom: 0.5em;
        margin-top: 3em;
    }

    .datos {
        justify-content: center;
        align-items: center;                
    }

    .carnets_oposito {
        margin-top: 0;
    }
    
    .identificacion, .cifras {
        flex-direction: column;
    }  

    .carnets_oposito {
        height: 33vh;
        width: 80vw;    
    }

    .carnets_oposito img {
        width: 100%;
        height: auto;
    }

    .consulta_estadisticas {
        height: 30vh;
        margin-top: -25vh;
        margin-bottom: 8vh;        
    } 
    
    .cuadroDos {
        font-size: 0.6em;
        height: 30vh;
        width: 50vw;
    }

    .medallero {
        justify-content: center;        
    }

    .medallero h1 {
        margin-top: 0px;
    }

    .cuadro_medallas {
        width: 90vw;        
    }    

}

/*Tablets grandes y laptops (768px a 1199px)*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .h1Perfil {
        font-size: 1.4em;
        margin-top: 10%; /* ajusta según el alto real del header */
        height: 3vh;   
    }
  
    .datos {
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 0;        
    } 

    .estadisticas {
        height: 100vh;
    }
    
    .persona {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        width: 100vw;
    }

    
    .identificacion {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        gap: 5%;        
    }    

    .cuadro p {
        padding: 0.4em;
        padding-left: 0.6em;
    }

    .carnets_oposito {
        height: 31vh;
        width: 33.7vw;    
    }

    .carnets_oposito img {
        width: 100%;
        height: auto;
    }

    .cifras {
        width: 100%;
        height: 100vh;
    }

    .consulta_estadisticas {
        height: 45vh;
        margin-bottom: 45px;
        margin-top: 30px;
    } 
    
    .dos {
        width: 35%;
    }

    .medallero {
        justify-content: center;
    }

    .medallero h1 {
        margin-top: 10%;
        margin-bottom: 25px;
        font-size: 1.4em;
    }

    .cuadro_medallas {
        width: 70%;
                
    }

    .una_medalla {
        width: 75%;
    }

}

/*Laptops grandes y escritorios (de 1200px a 1999px)=====================================*/
/* Ajustes específicos para portátiles modernos (el mío) */
@media screen and (min-width: 1200px) and (max-width: 1999px) {
    
    .h1Perfil {
        margin-top: 2em;
        font-size: 1.5em;
    }
    
    .carnets_oposito {
        height: 34.8vh;
        width: 64vw;
    }    

    .dos {
        width: 28vw;
    }

    .cuadro {
        margin-right: 5em;
    }

    .cuadro p {
        padding: 0.5em;                
    }
    
    .cuadro h3 {
        padding: 0.5em;
    }

    .carnet-img {
        width: 100%;
        height: 100%;
        object-fit: contain;        
    }

    .cifras {
        gap: 3em;
        width: 87vw;
        height: 95vh;
    }

    .consulta_estadisticas {
        margin-left: 4em;
    }

    .medallero {
        justify-content: flex-start;
        padding-top: 2em;
        min-height: 95vh;  /* ocupa al menos una pantalla */
        height: auto;      /* pero puede crecer todo lo que quiera */
        overflow-y: visible;
    }

    .cuadro_medallas {
        margin-top: 0;
        margin-bottom: 13.6%;
    }

    .identificacion {
        height: 95vh;
    }

    .estadisticas {
        height: 95vh;
    }    

    .medallero {
        flex: 1 0 auto;
        padding-bottom: 2vh; /* da un pequeño respiro visual si lo deseas */
        margin-bottom: 0;
    }

    .cuadro_medallas {
        margin-bottom: 0; /* elimina el margen fijo previo */
        padding-bottom: 1vh; /* opcional para separación visual suave */
    }

}