/*PÁGINA SELECCION_TEST===================================================================*/
.formulario_test {
    min-height: 95vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-image: url('img/fondo_mosaico_blanco.png');
    background-repeat: repeat;
    background-size: 100px;
}

.titulo_seleccion_test {
    font-family: 'Lexend', sans-serif;
    color: var(--azul_principal);
    font-size: 2em;    
    margin-top: 7%;
    background-color: var(--naranja_filo_brillo_logo);
    padding: 5px;
    border: solid 3px var(--azul_principal);
    border-radius: 5%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
}

.registrate {
    border: solid 5px var(--azul_principal);
    background-color: var(--naranja_principal);
    border-radius: 2%;
    padding-top: 1em;
    margin-top: 2em;
}

fieldset {    
    width: 90%;
    margin-bottom: 1em;
}

legend {
    background-color: white;
    padding: 0.2em;
    border: solid 5px var(--azul_principal);
    border-radius: 5%;
}

input[type="radio"], input[type="checkbox"] {
    font-size: 0.23em;
    accent-color: turquoise;

}

.registrate select {
    width: 15em;
    height: 1.8em;
    border: solid 5px var(--azul_principal);    
    padding: 0;
    background-color: white;
    font-size: 0.8em;
}

/*Grid para alinear los radios*/
.radio-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.0001em;
  margin-top: 0.5em;
}

.radio-grid label {
  display: flex;
  align-items: center;
  gap: 0.1em;  
  font-size: 1em;
  color: var(--azul_principal);
}

.radio-grid input[type="radio"] {
    margin-right: -32px;
    transform: scale(1.2); /* opcional si quieres agrandar */
}


/* Grid de 4 columnas para los checkboxes */
.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    gap: 1em;
    width: 100%;    
    font-size: 1em;
}

.checkbox-grid input[type="checkbox"] {
    transform: scale(1.5);
    box-shadow: none;
    
}

.checkbox-grid label {
    display: flex;
    justify-content: center;
    align-items: flex-end;        
}

.formulario_test input[type="submit"] {
    width: 6em;
    background-color: var(--naranja_filo_brillo_logo);
    cursor: pointer;
    height: 2.5em;            
}

.formulario_test input[type="submit"]:hover {
    background-color: var(--azul_principal);
    border-color: var(--naranja_filo_brillo_logo);
    color: var(--naranja_sombra_logo)
}


/*MEDIA QUERY=========================================================================*/

/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {

    fieldset[id="temas_personalizados_fieldset"] {
        width: 95%;
        overflow-x: hidden;
    }
    
    #formulario_test {
        width: 85%;
        
    }

    legend {
        font-size: 0.6em;
    }

    .titulo_seleccion_test {
        font-size: 1.2em;
        margin-top: -33%;
        margin-bottom: -5%;
        
    }

    .formulario_test input[type="submit"] {
        font-size: 0.8em;
        text-align: center;
        width: 50%;
        margin-top: 1%;        
    }

    .formulario_test option {
        font-size: 0.6em;
    }

    .checkbox-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.4em;
        font-size: 0.72em; /* Opcional: ajusta si los textos se ven muy apretados */
    }

}


/*Laptops grandes y escritorios (de 1200px a 1999px)*/
/* Ajustes específicos para portátiles modernos (el mío) */
@media screen and (min-width: 1200px) and (max-width: 1999px) {
    .titulo_seleccion_test {
        font-size: 1.3em;
    }

    legend {
        font-size: 0.7em;
    }

    .formulario_test input[type="submit"] {
        font-size: 0.8em;
        text-align: center;
    }

    .checkbox-grid input[type="checkbox"] {
        box-shadow: none;
        outline: none;
    }

    .checkbox-grid {
        font-size: 0.8em;
    }

}



