/*PÁGINA SELECCION_OPOSICION_CEUTA_MELILLA==================================================================*/
body.no-snap {
  scroll-snap-type: none;
}

.menu_oposiciones {
    height: 95vh;
    background-image: url('img/fondo_mosaico_blanco.png');
    background-repeat: repeat;
    background-size: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ciudades_hermanas {
    font-family: 'Lexend', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: var(--azul_principal);
    margin-top: 5%;
    background-color: var(--naranja_filo_brillo_logo);
    padding: 0.2em 0.2em;
    border: var(--azul_principal) 3px solid;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5),
    -2px 2px 2px rgb(0, 0, 0, 0.5),
    2px -2px 2px rgb(0, 0, 0, 0.5),
    -2px -2px 2px rgb(0, 0, 0, 0.5);
    
}

.tarjetas_oposiciones {
    width: 69.7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin: 0 auto;    
    border: 4px solid var(--naranja_principal);
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);    
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    justify-content: center;    
    margin: 0 auto;
    gap: 10px;    
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    padding: 10px;        
}

.tarjeta_oposicion {
    width: 352px;
    height: 445px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5),
    -2px 2px 2px rgb(0, 0, 0, 0.5),
    2px -2px 2px rgb(0, 0, 0, 0.5),
    -2px -2px 2px rgb(0, 0, 0, 0.5);
    background-color: white;        
}

.nombre_oposicion {
    background-color: var(--naranja_filo_brillo_logo);
    color: var(--azul_principal);
    transition: background-color 0.6s ease-in-out, color 1.3s ease-in-out;
}

.escudo {
    transition: filter 0.6s ease-in-out;
}


.tarjeta_oposicion:hover .escudo {
    filter: saturate(290%);
}

.tarjeta_oposicion:hover .nombre_oposicion {
    background-color: var(--azul_principal);
    color: var(--naranja_filo_brillo_logo);
}

.tarjeta_oposicion .escudo {
    width: 335px;
    height: 373px;
}

.tarjetas_oposiciones a:nth-child(1) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/01_ingesa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(2) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/02_policia_local_ceuta.png");
    background-size: cover;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(3) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/05_gobierno_ceuta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(4) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/17_bomberos_ceuta.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(5) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/19_gobierno_melilla.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(6) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/20_bomberos_melilla.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(7) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/21_amgevicesa_ceuta.png");
    background-size: cover;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(8) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/22_obimace_ceuta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(9) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/23_policia_local_melilla.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a:nth-child(10) .tarjeta_oposicion .escudo {
    background-image: url("img/logos/16_correos.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.tarjetas_oposiciones a {
    text-decoration: none;
}

.tarjeta_oposicion p {
    font-family: 'Lexend', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*MEDIA QUERY=====================================================================================*/
/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {
     .menu_oposiciones {
        height: auto;
        padding-top: 12vh; /* Para compensar el header fijo */
        padding-bottom: 2em;
    }

    .ciudades_hermanas {
        font-size: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .tarjetas_oposiciones {
        grid-template-columns: 1fr; /* Una columna por fila */
        width: 65%;
    }

    .tarjeta_oposicion {
        width: 100%;
        height: auto;
    }

    .tarjeta_oposicion .escudo {
        width: 100%;
        height: 280px;
    }

    .nombre_oposicion p {
        font-size: 1.2em;
    }

    .tarjetas_oposiciones a:nth-child(2) .tarjeta_oposicion .escudo {    
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;    
    }

    .tarjetas_oposiciones a:nth-child(7) .tarjeta_oposicion .escudo {    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;    
    }

}

/*Tablets pequeñas (481px a 767px)*/
@media screen  and (min-width: 481px) and (max-width: 767px) {
    html, body {
        height: auto;
        scroll-snap-type: none;
    }

    main {
        height: auto;
    }

    .menu_oposiciones {
        height: auto;
        padding-top: 12vh;
        padding-bottom: 2em;
    }

    .ciudades_hermanas {
        font-size: 2em;
        margin-top: -0.5em;
        margin-bottom: 0.8em;
    }

    .tarjetas_oposiciones {
        width: 50vw;
    }

    footer.foot {
        position: static;
        scroll-snap-align: none;
        margin-top: 2em;
    }

}

/*Tablets grandes y laptops (768px a 1199px)*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .tarjetas_oposiciones {
        width: 61.9%;
    }

    html, body {
        height: auto;
        scroll-snap-type: none;
    }

    main {
        height: auto;
    }

    .menu_oposiciones {
        height: auto;
        padding-top: 12vh;
        padding-bottom: 2em;
    } 
    
    .ciudades_hermanas {
        font-size: 2em;
        margin-bottom: 1.3em;
    }

    footer.foot {
        position: static;
        scroll-snap-align: none;
        margin-top: 2em;
    }

}

/*Laptops grandes y escritorios (de 1200px a 1999px)*/
/* Ajustes específicos para portátiles modernos (el mío) */
@media screen and (min-width: 1200px) and (max-width: 1999px) {

   .tarjetas_oposiciones {
        width: 72%;
        grid-template-columns: repeat(5, 1fr); /* 5 columnas fijas */
        gap: 10px;
    }

    .tarjeta_oposicion {
        width: 100%; /* Aprovecha el ancho de la celda del grid */
        height: 260px; /* proporcional al nuevo tamaño */
    }

    .tarjeta_oposicion .escudo {
        width: 100%;
        height: 200px;
    }
   

   html, body {
    height: auto;
    scroll-snap-type: none;
  }

  .menu_oposiciones {
    height: auto;
    padding-top: 12vh;
    padding-bottom: 2em;
  }

  footer.foot {
    position: static;
    scroll-snap-align: none;
    margin-top: 2em;
  }

  .ciudades_hermanas {
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-size: 1.5em;
  }

  .tarjeta_oposicion p {
    font-size: 0.9em;
  }

  .tarjetas_oposiciones a:nth-child(2) .tarjeta_oposicion .escudo {    
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;    
    }

    .tarjetas_oposiciones a:nth-child(7) .tarjeta_oposicion .escudo {    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;    
    }

}
