.zona_test {
    height: 95vh;
    background-image: url('img/fondo_mosaico_blanco.png');
    background-repeat: repeat;
    background-size: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta_test {    
    width: 70%;
    height: 60%;
    margin-top: 6em;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img/fondo_mosaico_azul.png');
    background-repeat: repeat;
    background-size: 110px;
    border-radius: 1em;
    padding: 1.5em;
    border: 4px solid var(--naranja_principal);
    box-shadow: 0 4px 10px rgba(61, 54, 202, 0.3), 0 0 0 4px var(--azul_principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    position: relative;
    font-family: 'Lexend', sans-serif;
    color: var(--naranja_filo_brillo_logo);
    overflow: hidden;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.tarjeta_test .contenido_tarjeta {
  flex: 1;
  overflow-y: auto;
  padding: 0 1em;
  text-align: justify;
}

.tarjeta_test .contenido_tarjeta p {
  margin-bottom: 1.2em;
  font-size: clamp(1rem, 2.5vw, 1.6rem);
  line-height: 1.5;
}

.tarjeta_test .pregunta {
    padding-bottom: 2%;
    margin-top: 3em;
}

.tarjeta_test .opcion {
  font-weight: 400;
  margin-left: 2%;
  margin-right: 2%;
}

.nuevaFlecha {
  font-size: 3em;
  color: var(--naranja_principal);
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease;
}

.nuevaFlecha:hover {
  transform: scale(1.5);
}

.contenido_tarjeta input {
    font-size: 0.3em;
    margin-right: -8em;
    margin-left: -9em;
}

.enlaces_prueba {
    font-family: 'Lexend', sans-serif;
    font-size: 1.3em;    
}

.enlaces_prueba a {
    color: var(--naranja_principal);
}

/*MEDIA QUERY=============================================================================*/

/*Teléfonos (hasta 480px)*/
@media screen  and (max-width: 480px) {
    /* Oculta flechas en móvil */
    .tarjeta_test {
        width: 90%;
        height: 90%;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
    }

    .tarjeta_test .nav-arrow {
        pointer-events: none;
        opacity: 0.4;
        cursor: default;
    }


}

/*Tablets pequeñas (481px a 767px)*/
@media screen  and (min-width: 481px) and (max-width: 767px) {
    .tarjeta_test {
        width: 90%;
        height: 80%;
    }

    .tarjeta_test .nav-arrow {
        pointer-events: none;
        opacity: 0.4;
        cursor: default;
    }


}

/*Tablets grandes y laptops (768px a 1199px)*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .tarjeta_test {
        width: 90%;
        height: 80%;
    }

    .tarjeta_test .contenido_tarjeta p {
        margin-bottom: 1.2em;
        font-size: clamp(0.9rem, 2.3vw, 1.2rem);
        line-height: 1.5;
    }

}

/*Laptops grandes y escritorios (de 1200px a 1999px)*/
/* Ajustes específicos para portátiles modernos (el mío) */
@media screen and (min-width: 1200px) and (max-width: 1999px) {

    .tarjeta_test {
        height: 87%;
        padding: 1em;
        justify-content: center;        
    }

    .tarjeta_test .contenido_tarjeta p {
        margin-bottom: 1.2em;
        font-size: clamp(1rem, 2.5vw, 1.2rem);
        line-height: 1.5;
    }
}


